/*General HTML Tags Styles*/

body {
    background-image: url("../assets/images/img4compressed.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: antiquewhite;
    margin: auto;
    font-size: 16px;
    text-align: center;
}

h1,
h4,
h3,
button {
    font-family: 'Berkshire Swash', cursive;
}

hr {
    border-top: 1px solid #630048;
}

a {
    color: #630048;
}


/* Styles for the Title Section*/

.container {
    width: 80%;
    margin: auto;
    font-family: 'Catamaran', sans-serif;
}

.jumbotron {
    font-size: 30px;
    background-color: rgba(214, 203, 211, 0.7);
    width: 100%;
    margin: 20px auto;
    padding: 50px;
    border: 3px solid #ccc;
    box-shadow: 0px 0px 2px #ed9fd8;
    z-index: 1;
}

.jumbotron h1 img {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid rgb(113, 5, 12);
    width: 200px;
    height: auto;
}


/*Rolling Balls Animation Styles*/

#animation1,
#animation2 {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

#animation1 {
    animation: rollingBall1 5s ease-in-out 0s infinite;
}

@keyframes rollingBall1 {
    0% {
        background-color: #ffd1d4;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: #630048;
        left: 200px;
        top: 40px;
    }
    50% {
        background-color: #ed9fd8;
        left: 400px;
        top: 0px;
    }
    75% {
        background-color: #7a050c;
        left: 600px;
        top: 40px;
    }
    100% {
        background-color: #eca1a6;
        left: 800px;
        top: 0px;
    }
    ;
}

#animation2 {
    animation: rollingBall2 5s ease-in-out 0s infinite reverse;
}

@keyframes rollingBall2 {
    0% {
        background-color: #ffd1d4;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: #630048;
        left: 200px;
        top: 40px;
    }
    50% {
        background-color: #ed9fd8;
        left: 400px;
        top: 0px;
    }
    75% {
        background-color: #7a050c;
        left: 600px;
        top: 40px;
    }
    100% {
        background-color: #eca1a6;
        left: 800px;
        top: 0px;
    }
    ;
}


/*Combined Styles for the About, Rules, Form and Result Sections*/

.aboutSection,
.rulesSection,
.formSection,
.resultsSection {
    background-color: rgba(236, 161, 166, 0.7);
    border: 2px solid #ddd;
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #ed9fd8;
    margin-bottom: 20px;
}


/*The About Section Styles*/

.aboutSection {
    width: 28%;
    float: left;
    padding: 10px;
    height: 60%;
}

.aboutSection img {
    width: 100px;
    height: 100px;
}


/*Combined Styles for the Rules, Form and Result Sections*/

.rulesSection,
.formSection,
.resultsSection {
    float: right;
    width: 70%;
    padding: 5px;
}


/*The Rules Section Styles*/

.rulesSection {
    height: 30%;
}

.rulesSection ul,
#output li {
    text-align: center;
    list-style-position: inside;
}


/*The Form Section Styles*/

.formSection {
    height: 20%;
}

.form-group {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}
.form-control{
    padding-left: 10px;
}

button {
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d6cbd3;
    box-shadow: 0px 0px 10px #337ab7;
}


/*The Results Section Styles*/

.resultsSection {
    height: 30%;
}

.resultsSection ul {
    max-height: 200px;
    overflow-y: scroll;
    font-size: 18px;
}

.pingText {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: #630048;
}

.pingNumber {
    color: aqua;
    font-size: 20px;
}


/*Media Queries for Image Resizing and Page layout Responsiveness*/

@media screen and (min-width:700px) {
    .aboutSection img {
        width: 175px;
        height: 175px;
    }
    h1 img {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width:480px) {
    .aboutSection {
        float: none;
        width: 100%;
    }
    .rulesSection,
    .formSection,
    .resultsSection {
        width: 100%;
    }
    .rulesSection ul,
    #output li {
        text-align: left;
        list-style-position: outside;
    }
}
